html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #666666;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1.7em;
}

h3 {
	margin-bottom: 0.5em;
	margin-top: 1.7em;
	font-size: 1.1em;
	font-weight: bold;
}

.statement p {
	margin-top: 1em;
	line-height: 1.5em;
	text-align: justify;
	width: 700px;
}

a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #ff0000;
}

ul.basic {
	list-style-type: none;
}

ul.resume li {
	list-style-type: none;
	line-height: 1.5em;
}

ul.links li {
	list-style-type: none;
	line-height: 1.4em;
}

ul.inline li {
	display: inline-block;
}

ul.nav {
	display: inline-block;
	padding-top: 1em;
}

ul.nav li {
	vertical-align: middle;
}

ul.nav a.sm:link {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 0.3em;
}

ul.nav a.tmb:link {
	background-image: url('../assets/tumblr-4-20.png');
}

ul.nav a.tmb:hover {
	background-image: url('../assets/tumblr-4-20-cherry.png');
}

ul.nav a.fb:link {
	background-image: url('../assets/facebook-7-20.png');
}

ul.nav a.fb:hover {
	background-image: url('../assets/facebook-7-20-cherry.png');
}

ul.nav a.ins:link {
	background-image: url('../assets/instagram-4-20.png');
}

ul.nav a.ins:hover {
	background-image: url('../assets/instagram-4-20-cherry.png');
}

ul.nav a.pin:link {
	background-image: url('../assets/pinterest-4-20.png');
}

ul.nav a.pin:hover {
	background-image: url('../assets/pinterest-4-20-cherry.png');
}

.header {
	/*background-color: yellow;*/
	padding: 2em;
	border-bottom: solid 1px #ccc;
}

.maincontent {
	/*background-color: #efefef;*/
	padding: 2em;
	padding-left: 5em;
}

.footer {
	font-size: 0.8em;
	padding: 2em;
	border-top: solid 1px #ccc;
}

#home-nav-parent {
	display: table;
	text-align: center;
}

#home-nav-parent a {
	display: table-cell;
	padding-right: 1em;
}

#home-nav-parent a img {
	display: block;
	margin: 0.5em;
	width: 250px;
	height: 250px;
	border: solid 1px #efefef;
}

#home-nav-parent span {
	font-size: 1.1em;
}

ul.thumb-nav {
	margin-bottom: 1.5em;
	min-width: 800px;
}

ul.thumb-nav li {
	display: inline-block;
	padding: 0.2em;
}

ul.thumb-nav a:hover {
	background-color: #ff0000;
	/*opacity: 0.5;*/
}

ul.thumb-nav img {
	height: 115px;
	width: 115px;
	border: solid 1px #efefef;
}

.full {
	display: inline-block;
	text-align: left;
}

.full img {
	/*border: solid 1px #efefef;*/
}

.caption {
	font-size: 0.8em;
	margin-top: 1em;
}

.title {
	font-weight: bold;
}

.links-parent {
	display: table;
}

.links-parent div.links {
	display: table-cell;
	padding-right: 5em;
}