html {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #666666;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	margin-bottom: 0.5em;
	margin-top: 1.7em;
	font-size: 1.1em;
	font-weight: bold;
}

.statement p {
	margin-top: 1em;
	line-height: 1.5em;
	text-align: justify;
	width: 700px;
}

a:link {
	color: #666666;
	text-decoration: none;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #ff0000;
}

ul.basic {
	list-style-type: none;
}

ul.resume li {
	list-style-type: none;
	line-height: 1.5em;
}

ul.links li {
	list-style-type: none;
	line-height: 1.2em;
}

ul.inline li {
	display: inline-block;
}

.header {
	/*background-color: yellow;*/
	padding: 2em;
}

.maincontent {
	/*background-color: #efefef;*/
	padding: 2em;
}

.footer {
	font-size: 0.8em;
	padding: 2em;
}

#home-nav-parent {
	display: table;
	text-align: center;
}

#home-nav-parent a {
	display: table-cell;
}

#home-nav-parent a img {
	display: block;
	padding: 0.5em;
}

ul.thumb-nav {
	margin-bottom: 1.5em;
}

ul.thumb-nav li {
	display: inline-block;
	padding: 0.2em;
}

ul.thumb-nav img {
	height: 150px;
	width: 150px;
}